<div class="container-outer">
  <div class="packery-container">
    <% @powers.each do |p| %>
      <div class="packery-item">
        <%= link_to p, class: "link-no-style" do %>
          <div class="packery-item-inner" style="background-color:<%= p.category.theme_color %>">
            <%= cl_image_tag(p.thumbnail.path, :width => 300, :crop => :fill, :quality => 75)%>
            <h4><%= p.title %></h4>
            <p><%= p.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>