<div class="section-container">
  <h1>
    <%= @power.title %>
  </h1>
  <br>
  <%= cl_image_tag(@power.thumbnail.path, :width => 300, :crop => :fill, :quality => 75) %>
  <% if can? :like, @power %>
    <span><%= link_to "Like", like_power_path(@power), id: "like_button" %></span>
  <% end %>
  <% if can? :unlike, @power %>
    <span><%= link_to "Unlike", unlike_power_path(@power), id: "unlike_button" %></span>  
  <% end %>
  <br>
  <p>
    <%= @power.description %>
  </p>
  <%= home_link %>
</div>